<div class="row">
  <div class="col-md-12">
    <h1>Категории <%= link_to 'Создать новую категорию', 
    new_admin_product_path, class: 'btn btn-success' %></h1>
  </div>
</div>

<table class="table table-striped">
  <tr>
    <th>Назвение</th>
    <th>Действия</th>
  </tr>

  <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to 'Просмотреть', admin_category_path(category) %>
        </td>
      </tr>
  <% end %>

</table>
