<h1>
  Category: <%= @category.name %>
</h1>

<h2> Заведения </h2>
<% @categories.each do |category| %>
  <%= link_to category.shop.name, shop_path(shop) %>
<% end %>

<div>
  <%= link_to 'Назад', categories_path %>
</div>
